---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import Pokemones from "@components/pokemones/Pokemones.astro";
import AudioPokemon from "@components/pokemones/AudioPokemon.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";

// rutas permitidas
export const getStaticPaths = (async () => {
    const response = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const {results} = await response.json() as PokemonListResponse
    
    return results.map(({name, url}) => {
            return {
                params: {name},
                props: {name, url}
            }
        })
    
}) satisfies GetStaticPaths;

const {name} = Astro.params
const {url} = Astro.props

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
---

<MainLayout 
    title={`Pokemon - #${id} ${name}`}
    description={`Información sobre el pokemon ${name}`}
    image={imageSrc}
>

    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>
        <Pokemones name={name} url={url} isBig={true} />
        <AudioPokemon audioSrc={audioSrc}/>
    </section>
    
</MainLayout>

<style>
    a {
        @apply hover:underline text-blue-500
    }
</style>